<!-- Footer Wrapper Start -->
<footer class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="search-wrapper hidden-xs">
        <div class="col-sm-6">
          <div class="search-inner-text">
            <h3>Chcesz otrzymać wycenę? <span>Podaj nam swój E-mail</span></h3>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="footer-search-form">
            <div class="form">
              <form action="/submit-email" method="post">
                <input placeholder="jan.kowalski@email.com" id="email" name="email" class="form-control first" type="text">
                <input type="submit" class="bttn" value="Wyślij" type="text">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="extralinks">
          <h4 class="title">Informacje</h4>
          <div class="extralinks-cols">
            <ul class="extralinks-col">
              <li> <a href="o-nas.html">O nas</a> </li>
              <li> <a href="usługi-elektryczne.html">Usługi</a> </li>
              <li> <a href="pogotowie-elektryczne-trójmiasto.html">Pogotowie elektryczne Gdańsk Gdynia Sopot</a> </li>
              <li> <a href="pomiary-elektryczne.html">Informacje o pomiarach elektrycznych</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="address">
          <h4 class="title">Kontakt</h4>
          <div class="extralinks-cols">
            <ul class="extralinks-col">
              <li> <span class="fcontact-icon fa fa-clock-o"></span> Pon - Nd 9:00 - 21:00</li>
              <li><span class="fcontact-icon fa fa-map-marker"></span>Gdańsk ul. Racławicka 9/5</li>
              <li><span class="fcontact-icon fa fa-phone"></span>664 883 028</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</footer>
<!-- Footer Wrapper End -->
 <!-- Copyright Wrapper End -->
 <div class="copyright-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <p>&copy; Copyright <span id="year"></span> Faza-Ekspert sp. z o.o.</p>
      </div>
      <div class="col-sm-5">
        <ul class="footer-social-icons">
          <li class="facebook"><a href="https://www.facebook.com/profile.php?id=61561445850647" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li class="linkedin"><a href="https://www.linkedin.com/company/faza-ekspert-sp-z-o-o/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Copyright Wrapper End -->
