<!-- Banner Wrapper Start -->
<div class="banner-wrapper">
  <div class="banner-inner">
    <div id="first-slider" class="">
      <div id="carousel-example-generic" class="carousel slide carousel-fade">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <!-- Item 1 -->
          <div class="item slide1 active">
            <div class="row">
              <div class="container">
                <div class="col-md-8 col-sm-7 text-left">
                  <h1 data-animation="animated bounceInLeft" class="">Pomiary Elektryczne</h1>
                  <p data-animation="animated bounceInLeft" class="">Precyzyjne i rzetelne <span>pomiary instalacji</span> elektrycznych</p>
                  <a class="btn btn-hero" data-animation="animated bounceInLeft" href="usługi-elektryczne.html">Co oferujemy</a> </div>
                <div class="col-md-4 col-sm-5 text-right hidden-xs"> <img data-animation="animated zoomInLeft" src="static/images/slider-img1.png" alt=""> </div>
              </div>
            </div>
          </div>
          <!-- Item 2 -->
          <div class="item slide2">
            <div class="row">
              <div class="container">
                <div class="col-md-8 col-sm-7 text-left">
                  <h1 data-animation="animated bounceInLeft" class="">Bezpieczne <span>Instalacje Elektryczne</span></h1>
                  <p data-animation="animated bounceInLeft" class="">Fachowe rozwiązania dla Twojego domu i firmy</p>
                  <a class="btn btn-hero" data-animation="animated bounceInLeft" href="usługi-elektryczne.html">Co oferujemy</a> </div>
                <div class="col-md-4 col-sm-5 text-right hidden-xs"> <img data-animation="animated zoomInLeft" src="static/images/slider-img2.png" alt=""> </div>
              </div>
            </div>
          </div>
          <!-- Item 3 -->
          <div class="item slide3">
            <div class="row">
              <div class="container">
                <div class="col-md-8 col-sm-7 text-left">
                  <h1 data-animation="animated bounceInLeft" class="">Montaż <span>urządzeń elektrycznych</span></h1>
                  <p data-animation="animated bounceInLeft" class="">Profesjonalne i precyzyjne instalacje dla niezawodnego działania</p>
                  <a class="btn btn-hero" data-animation="animated bounceInLeft" href="usługi-elektryczne.html">Co oferujemy</a> </div>
                <div class="col-md-4 col-sm-5 text-right hidden-xs"> <img data-animation="animated zoomInLeft" src="static/images/slider-img3.png" alt=""> </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Wrapper for slides--> <a class="left carousel-control" href="#carousel-example-generic" role="button"
          data-slide="prev"> <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic"
          role="button" data-slide="next"> <i class="fa fa-angle-right"></i><span class="sr-only">Dalej</span> </a> </div>
    </div>
    </div>
</div>
<!-- Banner Wrapper End -->
<!-- cta Wrapper Start -->
<div class="cta-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="cta-inner cta-text hidden-xs">Skorzystaj z naszych profesjonalnych usług elektrycznych</div>
      </div>
      <div class="col-sm-5">
        <div class="row">
          <div class="col-xs-1">
            <i class="fa-solid fa-mobile-screen fa-3x"></i>
          </div>
          <div class="col-xs-11">
            <div class="cta-inner cta">
              <h3>Trójmiejskie Pogotowie Elektryczne</h3>
              <h4>664 883 028</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="cta-inner cta-btn"> <a href="tel:+48664883028">Zadzwoń <i class="fa fa-arrow-right" aria-hidden="true"></i></a> </div>
      </div>
    </div>
  </div>
</div>
<!-- cta Wrapper End -->
<!-- Our Services Start -->
<section class="our-services-wrapper">
  <div class="container">
    <div class="title">
      <h2>Nasze Usługi</h2>
      <span class="title-border-color"><i class="fa fa-bolt" aria-hidden="true"></i></span> </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-service">
          <div class="single-services">
            <div class="services-inner">
              <div class="our-services-icon"> <span><img src="static/images/services-icon1.png" alt="Pomiary elektryczne"></span></div>
                <div class="our-services-text">
                  <h3>Pomiary Elektryczne</h3>
                  <ul>
                    <li>okresowe i odbiorcze</li>
                    <li>instalacji odgromowej</li>
                    <li>prądów zabezpieczających</li>
                    <li>oświetlenia awaryjnego</li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-service">
          <div class="single-services">
            <div class="services-inner">
              <div class="our-services-icon"> <span><img src="static/images/services-icon6.png" alt="Montaż instalacji elektrycznych"></span></div>
                <div class="our-services-text">
                  <h3>Instalacje Elektryczne</h3>
                  <ul>
                    <li>modernizacja</li>
                    <li>przenoszenie gniazdek i liczników</li>
                    <li>montaż oświetlenia</li>
                    <li>składanie rozdzielnic</li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-service">
          <div class="single-services">
            <div class="services-inner">
              <div class="our-services-icon"> <span><img src="static/images/services-icon5.png" alt="Pogotowie elektryczne"></span></div>
              <div class="our-services-text">
                <h3>Pogotowie Elektryczne</h3>
                <p>Nasze pogotowie elektryczne oferuje natychmiastową pomoc w awariach, szybkie usuwanie usterek i doradztwo. Działamy na terenie Trójmiasta.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Services End -->
<!-- About Wrapper Start -->
<section class="about-wrapper">
  <div class="container">
    <div class="title">
      <h2>Firma Faza-Ekspert</h2>
      <span class="title-border-color"><i class="fa fa-bolt" aria-hidden="true"></i></span> </div>
    <div class="mb-30">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="service-image">
            <div class="border_style top left"><span></span></div>
            <div class="border_style bottom right"><span></span></div>
            <img src="static/images/instalacja-rozdzielnicy.jpg" alt="Informacje o firme Faza-Ekspert" title=""></div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="about-text-area">
            <h3>Potrzebujesz fachowca w zakresie prac elektrycznych?</h3>
            <p>Faza Ekspert sp. z o.o. to mała, ale dynamicznie rozwijająca się firma, która składa się z wykwalifikowanych i certyfikowanych pracowników.
              Specjalizujemy się w kompleksowych usługach elektrycznych, działając na terenie Trójmiasta i okolic. Dzięki naszemu doświadczeniu i zaangażowaniu
              zapewniamy najwyższy standard wykonywanych prac, dbając o bezpieczeństwo i zadowolenie naszych klientów.
              Zaufaj profesjonalistom i skorzystaj z usług firmy Faza-Ekspert!</p>
            <a href="o-nas.html">Więcej</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Wrapper End -->
<!-- Join Wrapper Start -->
<div class="join-wrapper">
  <div class="container">
    <h3><span>Skontaktuj się z nami</span>
      Gwarantujemy bezpieczeństwo, niezawodność i pełne zadowolenie z wykonanych prac</h3>
  </div>
</div>
<!-- Join Wrapper End -->
<!-- Testimonials Wrapper Start -->
<section class="testimonials-wrapper">
  <div class="container">
    <div class="title"><h2>Opinie Klientów</h2><span class="title-border-color"><i class="fa fa-bolt" aria-hidden="true"></i></span></div>
    <div class="row">
      <div class="col-md-8 col-sm-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
        <div id="testimonials" class="owl-carousel">
          <div class="item">
            <div class="testimonials-main">
              <div class="testimonials-inner">
                <p>Zdecydowanie polecam usługi firmy Ekspert! Szybka i profesjonalna obsługa, a ekipa zna się na rzeczy.
                  Skorzystałem z pogotowia elektrycznego i byłem pod wrażeniem szybkości działania i doświadczenia fachowca.</p>
              </div>
              <div class="testimonials-text">
                <p class="client-name">Jarosław Mazur</p>
                <p>Awaria Domowa</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonials-main">
              <div class="testimonials-inner">
                <p>Świetna firma, z której usług korzystam już od kilku lat. Montaż urządzeń elektrycznych zawsze przebiega bez problemów,
                  a jakość wykonania jest na najwyższym poziomie. Polecam każdemu, kto szuka dobrego elektryka.</p>
              </div>
              <div class="testimonials-text">
                <p class="client-name">Anna Nowacka</p>
                <p>Zleceniodawca</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonials-main">
              <div class="testimonials-inner">
                <p>Kompleksowe usługi na wysokim poziomie. Pomiary elektryczne wykonane przez tę firmę przebiegają szybko i niedrogo.
                  Dodatkowo, ekipa jest bardzo pomocna i uprzejma. Z pewnością będę korzystał z ich usług w przyszłości.</p>
              </div>
              <div class="testimonials-text">
                <p class="client-name">Łukasz Gombal</p>
                <p>Pomiarowanie</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials Wrapper End -->