<!-- Inner Page Wrapper Start -->
<div class="inner-page-wrapper">
  <div class="container">
    <h1>Montaż Instalacji Elektrycznych</h1>
    <img src="static/images/instalacje-elektryczne.jpg" alt="Instalacje elektryczne" class="img-responsive pull-right" style="margin: 0 0 10px 15px; width: 500px;" />
    <p>Nasza firma specjalizuje się w kompleksowym montażu instalacji elektrycznych w domach, mieszkaniach oraz biurach. Oferujemy profesjonalne usługi, które obejmują nie tylko instalację, ale także składanie rozdzielnic i budowę sieci komputerowych.</p>

    <h2>Instalacje Elektryczne</h2>
    <p>Wykonujemy instalacje elektryczne dostosowane do indywidualnych potrzeb naszych klientów, zapewniając bezpieczeństwo i niezawodność. Dzięki doświadczeniu naszych ludzi, realizacje są solidne i zgodne z obowiązującymi normami.</p>

    <h2>Składanie Rozdzielnic</h2>
    <p>Specjalizujemy się w profesjonalnym składaniu rozdzielnic elektrycznych, które są kluczowym elementem każdej instalacji. Zapewniamy odpowiedni projekt, podział na poszczególne fazy, zabezpieczenia rónicowo - prądowe i przepięciowe. Zapewniamy optymalną ochronę oraz kontrolę nad całym systemem.</p>

    <h2>Sieci Komputerowe</h2>
    <p>Projektujemy i montujemy sieci komputerowe, które gwarantują stabilne i szybkie połączenia, idealne zarówno do użytku biurowego z testowaniem prędkości transmisji, jak i domowego. Dbamy o właściwe okablowanie i konfigurację sieci.</p>

    <h2>Pomiar i Protokół</h2>
    <p>Każda wykonana instalacja kończy się dokładnym pomiarem i sporządzeniem protokołu, co daje pewność, że wszystkie elementy systemu działają poprawnie i zgodnie z przepisami.</p>
  </div>
</div>