<!-- Inner Page Wrapper Start -->
<div class="inner-page-wrapper">
  <div class="container">
    <h1>Kontakt z firmą Faza-Ekspert</h1>
    <div class="row">
      <div class="col-md-4">
        <div>
          <h4>Siedziba firmy</h4>
          <p>Faza-Ekspert sp. z o.o.<br>
            ul. Racławicka 9/5<br>
            80-280 Gdańsk</p>
        </div>
        <div>
          <h4>Telefon</h4>
          <p>664 883 028</p>
          <h4>E-mail</h4>
          <p>
            <a href="mailto:elektryk@faza-ekspert.pl">elektryk@faza-ekspert.pl</a>
          </p>
          <h4>NIP</h4>
          <p>
            796-302-88-52
          </p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="google-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2323.3186828735606!2d18.624482212569312!3d54.386685872495065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xf8aa8f5e0329a71%3A0xe90dc7b0f034343!2sFaza-Ekspert%20sp.%20z%20o.o.%20Pomiary%20i%20instalacje%20elektryczne!5e0!3m2!1sen!2sth!4v1737097098435!5m2!1sen!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Inner Page Wrapper End -->