<!-- Inner Page Wrapper Start -->
<div class="inner-page-wrapper">
  <div class="container">
    <h2>Historia Firmy</h2>
    <p>Faza-Ekspert sp. z o.o. została założona przez dwóch przyjaciół ze szkoły średniej, Bartosza i Krzysztofa, którzy od młodości fascynowali się technologią i komputerami.</p>
    <p>Po ukończeniu studiów na kierunkach technicznych i praktykach w kraju i za granicą, Bartosz i Krzysztof postanowili połączyć swoje siły i założyć własną firmę.
      W ten sposób narodziła się Faza-Ekspert, firma, która od początku stawiała na profesjonalizm, innowacyjność i pasję do pracy.</p>
    <p><img class="img-responsive" src="static/images/bartosz_i_krzysztof.jpg" alt="Załoyciele firmy Faza-Ekspert usługi elektryczne" /></p>
    <h2>Misja Firmy</h2>
    <p>Misją firmy Faza-Ekspert jest zapewnienie najwyższego poziomu satysfakcji klientów poprzez dostarczanie profesjonalnych usług elektrycznych i komputerowych. Nasze priorytety to:</p>
    <ul>
        <li><strong>Zadowolenie klienta:</strong> Dbamy o indywidualne podejście do każdego klienta, słuchając jego potrzeb i dostosowując nasze usługi do jego oczekiwań. Stawiamy na otwartą komunikację i pełną transparentność na każdym etapie realizacji zlecenia.</li>
        <li><strong>Przystępne ceny:</strong> Wierzymy, że wysokiej jakości usługi elektryczne i komputerowe nie muszą wiązać się z wysokimi kosztami. Oferujemy konkurencyjne ceny, zachowując jednocześnie najwyższe standardy wykonania prac.</li>
        <li><strong>Porządne wykonywanie prac:</strong> Nasz zespół składa się z wykwalifikowanych i certyfikowanych specjalistów, którzy podchodzą do swojej pracy z pełnym zaangażowaniem i dbałością o szczegóły. Używamy tylko sprawdzonych materiałów i nowoczesnych narzędzi, aby zapewnić niezawodność i trwałość naszych instalacji.</li>
    </ul>
  </div>
</div>
<!-- Inner Page Wrapper End -->